@model List<PROG_POE_Part_1.Models.Claim>
@{
	ViewBag.Title = "Claims";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
	<h2>Claims</h2>
	<a href="/Claims/Create" class="btn btn-primary"> + Add New Claim </a>
</div>

<!--Claims Table-->
<div class="card">
	<div class="card-body">
		@if (Model.Count == 0)
		{
			<div class="text-center py5">
				<p class="text-muted">No books submitted yet</p>
			</div>
		}
		else
		{
			<table class="table">
				<thead class="table-dark">
					<tr>
						<th>Claim ID</th>
						<th>Lecturer ID</th>
						<th>Name</th>
						<th>Date Submitted</th>
						<th>Hours Worked</th>
						<th>Hourly Rate</th>
						<th>Total Amount</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var claim in Model)
					{
						<tr>
							<td><strong>@claim.Claim_ID</strong></td>
							<td>@claim.Lecturer_ID</td>
							<td>@claim.Name</td>
							<td>@claim.Date_Submitted</td>
							<td>@claim.Total_Hours</td>
							<td>@claim.Hourly_Rate</td>
							<td>@claim.Total_Amount</td>
							<td>

								@if (claim.Status == PROG_POE_Part_1.Models.Status.Pending)
								{
									<span class="badge bg-warning text-white">Pending</span>
								}
								else if (claim.Status == PROG_POE_Part_1.Models.Status.Declined)
								{
									<span class="badge bg-danger text-white">Declined</span>
								}
								else if (claim.Status == PROG_POE_Part_1.Models.Status.Verified)
								{
									<span class="badge bg-success text-white">Verified</span>
								}
								else
								{
									<span class="badge bg-success text-white">Approved</span>
								}
							</td>
							<td>
								<a href="/Claims/Details/@claim.Claim_ID" class="btn btn-sm btn-outline-dark">View Details</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}

	</div>
</div>
